.primary {
  padding-top: 2em;
  height: 12em;
  border-bottom: 1px solid #E0E0E0;
}

.settings-account {
  padding: 0 3em;
}

.settings-account p {
  font-weight: 550;
}

.primary > p:nth-child(2) {
  font-size: 1.5em;
  margin: 1.5em 0 0.5em 0;
}

.secondary {
  padding: 1em 0;
  border-bottom: 1px solid #E0E0E0;
}

.secondary > div {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  padding: 1.5em 0 0.2em 0;
}

.secondary a {
  display: block;
  text-decoration: none;
  padding: 0.5em 0;
  color: #065FDB;
}

.secondary span {
  vertical-align: top;
  margin-left: 1em;
}

.secondary img {
  font-size: 1.3em;
}

.tertiary > div {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  padding: 1.5em 0 0.2em 0;
  gap: 3em 0;
}

.tertiary small {
  display: block;
  line-height: 2em;
}

.tertiary {
  border-bottom: none;
  padding-bottom: 2em;
}