.video-page-container {
  position: relative;
  top: 5.5em;
  left: 2.5em;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 0 1.5em;
  width: 95%;
  height: auto;
}

.video-wide {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

#videoContent {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  margin-bottom: 0.5em;
}

#videoContent > video {
  width: 12em;
  height: 7em;
  object-fit: cover;
  cursor: pointer;
}

.video-page-container p {
  font-size: 0.9em;
  color: #606091;
  margin: 0.5em 0 0.2em;
}

.video-page-container span {
  font-size: 0.9em;
  color: #606091;
}

.video-data {
  padding: 1.5em 0 1em 0;
  border-bottom: 1px solid #E0E0E0;
}

.video-data > div {
  padding: 1em 0 0 0;
}

#videoData {
  float: right;
  clear: both;
}

#videoData > span {
  cursor: pointer;
  padding: 0 1em;
  color: #909090;
  font-weight: 600;
}

#videoData i {
  vertical-align: middle;
}

.video-details {
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  margin: 1em 0 3em;
}

.video-details > button {
  background-color: #CC0000;
  color: #fff;
  font-weight: 550;
  width: 8em;
  height: 2.5em;
}

.video-details > img {
  font-size: 1.3em;
}

#aboutVideo {
  color: #000;
  margin-top: 2em;
}
