.video-page-container {
  position: relative;
  top: 5.5em;
  left: 2.5em;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 0 1.5em;
  width: 95%;
  height: auto;
}

.video-wide {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

#videoContent {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  margin-bottom: 0.5em;
}

#videoContent > video {
  width: 12em;
  height: 7em;
  object-fit: cover;
  cursor: pointer;
}

.video-page-container p {
  font-size: 0.9em;
  color: #606091;
  margin: 0.5em 0 0.2em;
}

.video-page-container span {
  font-size: 0.9em;
  color: #606091;
}

.about-video p {
  margin: 0.8em 0 0 0;
  line-height: 1.5em;
  font-size: 0.9em;
  color: #606091;
}

.about-video span {
  font-size: 0.9em;
  color: #606091;
}