.watch-history {
  width: 100%;
  padding-bottom: 2em;
  background-color: #F9F9F9;
}

#watchHistory {
  display: grid;
  grid-template-columns: 42em 1fr;
}

#watchHistory > div:nth-child(1) {
  padding: 0 1em;
}

#watchHistory > div:nth-child(2) {
  background-color: #F1F1F1;
}

.history-video {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  column-gap: 1em;
  padding: 0.7em 0;
  cursor: pointer;
}

.search-history {
  position: fixed;
  right: 0;
  top: 3.5em;
  padding: 1.5em 2em;
  height: 100%;
  width: 23em;
}

.search-history > input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  height: 3em;
  padding: 0 2.5em;
  background-color: #F1F1F1;
}

.search-history > i {
  position: relative;
  left: 1.3em;
  float: left;
  line-height: 2.5em;
  color: #606060;
  clear: both;
}

.search-inputs > p {
  padding: 1em;
  border-bottom: 1px solid #D8D8D8;
}

.search-inputs input {
  float: right;
  clear: both;
}

.search-history i {
  vertical-align: middle;
  margin-right: 0.5em;
}

.search-history > p {
  color: #606060;
  font-weight: 550;
  margin: 1.5em 0;
  font-size: 0.9em;
}
