.trending-page {
  width: 100%;
  background-color: #F9F9F9;
}

.trending-nav {
  display: grid;
  grid-template-columns: 10em 10em 10em 10em;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.trending-nav img {
  border-radius: 50%;
}

.trending-nav a {
  width: 7em;
  text-decoration: none;
  margin: 1em;
}

.trending-nav span {
  display: block;
  color: #606060;
  font-weight: 550;
  font-size: 0.9em;
}

#trends {
  margin: 1em 1.2em;
}

.trending-video {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  column-gap: 1em;
  width: 50em;
  padding: 0.7em 0;
  cursor: pointer;
}

.video-info p {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #606060;
}

.video-info span {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #606060;
}

.video-info h3 {
  margin: 0 0 0.3em 0;
}

@media only screen and (max-width: 425px) {
  .trending-nav {
    grid-template-columns: 6em 6em 6em 6em;
    border-bottom: none;
  }

  .trending-nav img {
    height: 3.5em;
  }

  .trending-nav a {
    width: 5em;
    margin: 0.5em;
  }

  .trending-nav span {
    font-size: 0.7em;
  }

  #trends {
    margin: 0;
    padding-bottom: 4em;
  }

  .trending-video {
    display: block;
    margin-bottom: 0.2em;
  }

  .video {
    width: auto;
    height: auto;
  }

  .video-info {
    width: 24em;
    padding: 0 0 0 1em;
  }
}

@media only screen and (max-width: 375px) {
  .video-info {
    width: 21em;
  }

  .trending-nav {
    grid-template-columns: 5em 5em 5em 5em;
  }
}
