.dark .top-nav {
  background-color: #202020;
}

.dark .top-nav button {
  color: #fff;
}

.dark .topNav-input {
  background-color: #121212;
  border: 0.5px solid #383838;
}

.dark .topNav-button {
  border: 0.5px solid #383838;
}

.dark .image {
  background-color: #ffffffc4;
}

.dark #leftNav {
  background-color: #202020;
}

.dark .leftside-nav i {
  color: #909090;
}

.dark .user-subscription {
  color: #909090;
}

.dark .leftside-nav button {
  color: #fff;
}

.dark .leftside-nav button:hover {
  background-color: #383838;
}

.dark .leftside-nav > div {
  border-bottom: 1px solid #383838;
}

.dark .leftside-nav > div:last-child {
  border-bottom: none;
}

.dark .leftside-nav::-webkit-scrollbar-thumb {
  background: #4A4A4A;
}

.dark .home-page {
  background-color: #181818;
}

.dark .button-nav {
  background-color: #202020;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
}

.dark .button-nav button {
  background-color: #373737;
  color: #fff;
  border: 1px solid #ffffff44;
}

.dark .about-video {
  color: #fff;
}

.dark .about-video p {
  color: #ffffffca;
}

.dark .about-video span {
  color: #ffffffca;
}

.dark #overlay {
  background-color: #00000046; 
}

.dark #rightNav {
  background-color: #212121;
}

.dark .rightNav-modal {
  border: 0.5px solid #383838;
}

.dark .rightNav-modal i {
  color: #909090;
}

.dark .rightNav-modal > button:nth-child(2) {
  border-top: 1px solid #383838;
}

.dark #rightNav button {
  color: #ffffffca;
}

.dark #rightNav button:hover {
  background-color: #383838;
}

.dark #userName {
  color: #ffffffca;
}

.dark #themeModal {
  border: 0.5px solid #383838;
}

.dark #themeModal > p {
  color: #ffffffca;
}

.dark #darkThemeButton {
  border-top: 1px solid #383838;
}

.dark #darkThemeButton > i {
  opacity: 1;
}

.dark #lightThemeButton > i {
  opacity: 0;
}

.dark #leftSideNav {
  background-color: #202020;
}

.dark #leftSideNav > button {
  color: #ffffffca;
}

.dark #leftSideNav > button:hover {
  background-color: #383838;
}

.dark .watch-history {
  background-color: #181818;
  color: #fff;
}

.dark #watchHistory > div:nth-child(2) {
  background-color: #0F0F0F;
}

.dark .search-history > input {
  background-color: #0F0F0F;
  border-bottom: 1px solid #ffffffa9;
}

.dark .search-inputs > p {
  border-bottom: 1px solid #272727;
}

.dark .search-inputs > div {
  border-bottom: 1px solid #272727;
}

.dark .search-history > p {
  color: #ffffffa8;
}

.dark .search-history > input::placeholder {
  color: #ffffffa8;
}

.dark .video-info p {
  color: #ffffffa8;
}

.dark .video-info span {
  color: #ffffffa8;
}

.dark .trending-page {
  background-color: #181818;
  color: #fff;
}

.dark .trending-nav {
  border-bottom: 1px solid #383838;
}

.dark .trending-nav span {
  color: #ffffffa8;
}

.dark .channel-page {
  background-color: #181818;
  color: #fff;
}

.dark .channel-nav > nav button {
  color: #ffffffa8;
}

.dark .channel-nav > nav button:hover {
  background-color: transparent;
  border-bottom: 3px solid #aaa;
  color: #fff;
}

.dark .homepage {
  background-color: #0f0f0f;
}

.dark .homepage span {
  color: #ffffffa8;
}

.dark .theme-image {
  display: inline;
  margin-top: 4em;
  width: 12em;
  height: 12em;
}

.dark .default-image {
  display: none;
}

.dark .channel-nav > div > button {
  background-color: #3EA6FF;
  color: #000;
}

.dark .homepage > button {
  background-color: #3EA6FF;
  color: #000;
}

.dark .settings-nav {
  background-color: #0F0F0F;
  color: #fff;
}

.dark .settings-nav > button {
  color: #fff;
}

.dark .settings-nav > button:hover {
  background-color: #383838;
}

.dark .settings-account {
  color: #fff;
}

.dark .secondary a {
  color: #3EA6FF;
}

.dark .settings-account small {
  color: #ffffffa8;
}

.dark .primary, .dark .secondary {
  border-bottom: 1px solid #303030;
}
