#leftNav {
  height: 100vh;
  background-color: #fff;
}

.leftside-nav:hover {
  overflow-y: scroll;
}

.leftside-nav {
  position: fixed;
  width: 15em;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.leftside-nav button {
  display: block;
  width: 100%;
  text-align: justify;
  height: 3em;
  color: #5A5A5A;
  font-size: 1em;
  font-weight: 700;
}

.leftside-nav button:hover {
  background-color: #E5E5E5;
}

.leftside-nav > div {
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
}

.leftside-nav i {
  color: #606060;
  margin: 0 1.2em;
  vertical-align: sub;
}

.icon > i {
  margin: 0 2em;
  vertical-align: middle;
}

.sub-list img {
  height: 1.8em;
  width: 1.8em;
  vertical-align: middle;
  margin: 0 1em 0 2em;
}

.leftside-nav > div:last-child {
  margin-bottom: 5em;
  border-bottom: none;
}

.user-subscription {
  margin: 0 2em;
  color: #5A5A5A;
  line-height: 2em;
}

.leftside-nav::-webkit-scrollbar {
  width: 10px;
}

.leftside-nav::-webkit-scrollbar-thumb {
  background: #BCC0C4;
}

#leftSideNav {
  display: none;
  position: fixed;
  width: 5em;
  height: 100vh;
}

#leftSideNav > button {
  display: block;
  width: 100%;
  padding: 0.8em 0;
  color: #606060;
  outline: none;
}

#leftSideNav i {
  margin: auto 1em;
}

#leftSideNav > .trending i {
  font-size: 1.2em;
  margin: auto 1.2em;
}

#leftSideNav > .trending {
  padding: 1.2em 0;
}

#leftSideNav > button:hover {
  background-color: #f5f5f5;
}

.left-nav-modal {
  display: none;
  position: absolute;
  top: 4em;
  z-index: 1;
}

@media only screen and (max-width: 425px) {
  .leftside-nav {
    display: none;
  }

  .button-nav > nav {
    display: none;
  }

  #leftNav {
    height: auto;
  }

  #leftSideNav {
    display: inline;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #00000033; 
    z-index: 1;
    width: 100%;
    height: 4em;
    text-align: center;
  }

  #leftSideNav > button {
    display: inline;
    width: 7em;
  }

  #leftSideNav > button:nth-child(2) {
    vertical-align: middle;
  }

  #leftSideNav > button:nth-child(2) i {
    margin: 0.2em 0;
  }

  #leftSideNav > button:hover {
    background-color: transparent;
  }

  #leftSideNav > button:focus {
    color: #ff0000;
  }

  #leftSideNav i {
    display: block;
    margin: 0;
  }

  #leftSideNav small {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 375px) {
  #leftSideNav > button {
    width: 6em;
  }
}
